body{
    color: black;
    font-family: "Manrope", sans-serif;
}
header{
    /* height:100vh; */
    background-image: url(../maquette/header-home2.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

    height: 100vh;
}
.header__navbar{
    color: yellowgreen;
    font-weight: bold;
}
.navbar__logo{
    width: 4rem;
}

